

h1{
	text-align: center;
	position: relative;
	bottom: 1px;
	color: white;
}

h3{
	font-size: 24px;
	margin-top: 1px;
	position: relative;
    left: 15px;
}

small{
	color: white;
}

.page-header{
 
  height: 120px;
  width: 100%;
  text-align: left;
  background-color:white;
 margin-top:-2px;
   /*  border: 4px ridge gray; */
    padding:10px;
    /* box-shadow: 4px 4px 3px #888888;
    border-radius:10px; */
   
    float:inherit;
    
}


.custom-row 
  margin-right: -15px;
  margin-left: -15px;
  width: 60%;
  background-color: red;
  border-color: #e7e7e7;
}


.mini-submenu{
  display:none;  
  background-color: rgba(1, 2, 2, 0.45);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.list-group-item{
	background-color: lightblue;
	padding-top:-30px;
	width:60%;
	height:25%;
	font-size: inherit;
}

.custom-col-md-offset-3 {
  margin-left: 7%;
  margin-top: -230px;
  width: 99%;
}

.cusotm-row{
	margin-top: -160px;
    margin-left: 95px;
}

.table-hover{
	width: 80%;
}

.custom-backbutton{
	margin-top: -10px;
  	margin-left: 95px;
}

.table-striped tbody tr.highlight td { background-color: #00FFFF; }

.group {<!--   w  w  w  .  j a va 2s .  c om-->
  background: yellow;
  width: 200px;
  height: 500px;
}
.group .subgroup {
  background: orange;
  width: 150px;
  height: 200px;
}
.fixed {
  position: fixed;
}
.bs-docs-sidebar.affix {
  position: static;
}
@media ( min-width :768px) {
  .bs-docs-sidebar {
    padding-left: 20px;
  }
}
.bs-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bs-docs-sidebar .nav>li>a {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #999;
  padding: 4px 20px;
}

.bs-docs-sidebar .nav>li>a:hover, .bs-docs-sidebar .nav>li>a:focus {
  padding-left: 19px;
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #563d7c;
}

.bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>.active:hover>a,
  .bs-docs-sidebar .nav>.active:focus>a {
  padding-left: 18px;
  font-weight: 700;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

.bs-docs-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}

.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400;
}

.bs-docs-sidebar .nav .nav>li>a:hover, .bs-docs-sidebar .nav .nav>li>a:focus
  {
  padding-left: 29px;
}

.bs-docs-sidebar .nav .nav>.active>a, .bs-docs-sidebar .nav .nav>.active:hover>a,
  .bs-docs-sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
  padding-left: 28px;
}

.bs-docs-sidebar .nav>.active>ul {
  display: block;
}

.bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
  width: 213px;
}

.bs-docs-sidebar.affix {
  position: fixed;
  top: 20px;
}

.bs-docs-sidebar.affix-bottom {
  position: absolute;
}

.bs-docs-sidebar.affix-bottom .bs-docs-sidenav, .bs-docs-sidebar.affix .bs-docs-sidenav
  {
  margin-top: 0;
  margin-bottom: 0;
}

@media ( min-width :1200px) {
  .bs-docs-sidebar.affix-bottom, .bs-docs-sidebar.affix {
    width: 263px;
  }
}

.bs-docs-section {
  margin-bottom: 60px;
}

.bs-docs-section:last-child {
  margin-bottom: 0;
}


.stepTable
{
	height: 70%;
	overflow:auto;
	overflow-x:auto;
	overflow-y:hidden; 
	
}
.scheduleDiv{
	
	width:270px;
	height:300px;
	border: thick;
	border-right:thin;
	border-right-style:solid;
	border-right-color: #EBEBE0;
	
	
}
.scheduleCol{
	width:150px;
}
.rightDiv
{
	width:400px;
	height:400px;	
	margin-left:250px;
	margin-top:-280px;
	font-family: serif;
	font-style: inherit;
	font-weight: bold;	
	
}
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: black;
  background-color: #337ab7;
  padding: 7px;
}


.nav li.active>a {
  color: white;
   padding: 7px;
}
.col-md-3
{
	width:20%;
	padding-top: 20px;
}

.nav {
	padding: 7px;
}


.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #c4e3f3;
}

.btn-success {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #5bc0de;
  border-color: grey;
}
.btn-success:hover {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-success .badge {
  color: black;
  background-color: #5bc0de;
}

.ui-widget-header {
	border: 1px solid grey;
	background:#94B8B8;
	color: black;
	font-weight: bold;
}
.ui-widget-header a {
	color: #5bc0de;
}
.ui-dialog .ui-dialog-buttonpane button {
	 display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
      color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;

	}
	
	.ui-dialog-content 
	{
	background-color: white;
	color: black;
	}
	.ui-widget-content
	{
	background-color: white;
	color: black;
	}
	
	.innerContainer{
 width:90%;height:400px;margin-top:-50px;
 /* border: 8px solid lightblue;
    padding:10px;
    box-shadow: 10px 10px 5px #888888;
    border-radius:10px;
    
   
   
    float:inherit; */
    background-image: url("../images/frame.png");
    
     
 }
 
 .selectField {
   /* background: teal; */
   width: 100%;
   padding: 5px;
   font-size: 14px;
   line-height: 1;
   box-shadow: 3px 3px 1px grey;
   border:2px;
   border-style:solid;
   border-color:navy;
   height: 30px;
    border-radius: 4px;
   -webkit-appearance: none;
   }
   
   
   .timepicker
   {
   width: 120%;
   padding: 5px;
   font-size: 10px;
   line-height: 1;
   box-shadow: 3px 3px 1px grey;
   border:2px;
   border-style:solid;
   border-color:navy;
    border-radius: 4px;
   height: 30px;  
    background: #EBEBE0;
   }
   
   .dateField {
   background: #EBEBE0;
   width:80px;;
   padding: 5px;
   font-size: 10px;
   line-height: 1;
   box-shadow: 3px 3px 1px grey;
   border:2px;
   border-style:solid;
   border-color:navy;
   height: 30px;
    border-radius: 4px;
   -webkit-appearance: none;
   }
   
  
   .schedulePopUp
   {
   font-weight: normal;
   font-size: 10px;
   
   }
   
   .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
   
   font-size: 10px;
   }
   
   #repetitionRange{
     border: thick;
	border-bottom:thin;
	border-bottom-style:solid;
	border-bottom-color: #EBEBE0;
	border-top:thin;
	border-top-style:solid;
	border-top-color: #EBEBE0;
	width:700px;
	height:125px;
	
   }
  
   .ui-dialog-titlebar-close{
     display:none;
   }
   
   .btn-primary {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.modal-content {
  width:400px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
   
}

.btn-primary:hover{background-color:#5bc0de;border-color:#5bc0de}.btn-primary .badge{color:#5bc0de;background-color:#fff}
    
   btn-primary{color:#fff;background-color:#5bc0de;border-color:#5bc0de}
   .btn-primary.focus,.btn-primary:focus{color:#fff;background-color:#5bc0de;border-color:#5bc0de}
   .btn-primary:hover{color:#fff;background-color:#5bc0de;border-color:#5bc0de}
   
   
   
    
